body {
  background-color: #f6f0e8;
}
ul {
  padding-top: 15px;
}
li {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 15px;
  text-align: center;
  list-style-type: none;
  padding-left: 850px;
  padding-top: 10px;
}
.name {
font-family: 'Pacifico', cursive;
 font-size: 40px;
 padding-left: 50px;
 padding-top: 10px;
 float: left;
}
.bio {
  width: 300px;
  height: 500px;
  float: left;
  padding-left: 200px;
  padding-top: 100px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
#img {
  float: right;
  width: 35%;
  padding-right: 200px;
  padding-top: 10px;
}
.img {
width:350px; height:460px;
float: left;
}
.page-1 {
  padding-top: 15px;
}

  @media (max-width: 599px) {

  }

  @media (max-width: 600px) {

  }

  @media (max-width: 900px) {

  }

  @media (max-width: 1200px) {

  }

  @media (max-width: 1800px) {

  }
